# sofa registry settings
spring:
  cloud:
    gateway.server.webflux:
      routes:
        - id: outbound
          uri: lb://outbound
          predicates:
            - Path=/api/outbound/**
          filters:
            - StripPrefix=2

gateway:
  exclude-routes:
    default-status: 403
    rules:
      - path: /aaa/**
        methods: [GET, POST]
        status: 404
      - path: /internal/**

logging:
  level:
    root: INFO
    com.example: DEBUG
    org.springframework: WARN
    org.springframework.cloud: WARN
    org.springframework.cloud.gateway: WARN
    org.springframework.web: WARN
    reactor.netty.http.server.AccessLog: INFO
